markitdown[all]
markitdown[pptx]
markitdown[docx]
markitdown[xlsx]
markitdown[xls]
markitdown[pdf]
markitdown[outlook]
markitdown[audio-transcription]
markitdown[youtube-transcription]
flask
werkzeug
